* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  background: #131313;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  width: 100%;
}
.bars {
  width: 40px;
  height: 3px;
  background-color: #fff;
  margin: 0.5rem 0;
  border-radius: 4px;
}
.mobile__nav--bars {
  display: none;
}
.nav__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 4rem;
}
.navbar__items {
  margin: 0 0rem;
  font-size: 2.5rem;
  height: 80px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__items a {
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  line-height: 80px;
}
.navbar__items a:hover:not(.nav__links .button) {
  color: #9518fc;
  transition: all 0.3s ease;
}
.nav__links--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-btn {
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  /* height: 100%; */
  width: 120px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  font-size: 2rem;
  text-align: center;
}
.nav-btn a {
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.nav__links {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .mobile__nav--bars {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
  }
  .bars {
    transition: all 450ms ease;
  }
  .is-active.bars:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
    /* transition: all 0.5s linear; */
  }
  .is-active.bars:nth-child(2) {
    opacity: 0;
  }
  .is-active.bars:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
    /* transition: all 0.5s linear; */
  }
  .nav__wrapper {
    position: relative;
  }
  .nav__links {
    position: absolute;
    top: -400px;
    left: 0;
    width: 100%;
    transition: all 0.4s linear;
    opacity: 0.6;
  }
  .nav__links.active {
    margin: 0;
    z-index: -2;
    right: 0;
    background: #131313;
    width: 100%;
    height: 50vh;
    top: 100%;
    text-align: center;
    margin: 0 auto;
    transition: all 0.4s linear;
    opacity: 1;
  }
  .nav__links--container {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    transition: all 0.5s linear;
    padding-bottom: 2rem;
  }
  .nav__links--container .navbar__items {
    /* margin: .5rem 0; */
    width: 100%;
  }
  .nav-btn {
    width: 40%;
    padding: 1rem 2rem;
  }
  .navbar {
    padding: 0 0rem;
  }
}

/* HERO SECTION */
.hero__section {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 200px 0;
}
.hero__wrapper {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.hero__wrapper h1 {
  font-size: 12rem;
  /* margin-top: 4rem; */
}
.hero__wrapper span {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}
.hero__wrapper h2 {
  font-size: 6rem;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-top: 3rem;
}
.main-btn {
  margin-top: 3rem;
  font-size: 2rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.35s linear;
  outline: none;
  border-radius: 4px;
}
.main-btn a {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
}
.main-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #f192ce;
  transition: all 0.35s linear;
  opacity: 0.8;
  border-radius: 4px;
  z-index: 4;
}
.main-btn:hover {
  color: #fff;
}
.main-btn:hover:after {
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .hero__wrapper h1 {
    font-size: 8rem;
  }
  .hero__wrapper h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .main-btn a {
    font-size: 2rem;
  }
}

/* ABOUT SECTION */
.about__section {
  background: #161616;
  padding: 150px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.about__img {
  margin: 0 2rem;
}
.about__img--card {
  font-size: 17rem;
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
.about__information {
  width: 500px;
  text-align: left;
  margin: 0 2rem;
}
.about__information h1 {
  text-align: left;
  font-size: 4rem;
  background-color: #fe3b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.about__information h2 {
  text-align: left;
  font-size: 6rem;
  background: #ff8177; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.about__information p {
  text-align: left;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  margin-top: 2rem;
}

@media screen and (max-width: 1100px) {
  .about__img--card {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  .about__information {
    text-align: center;
    width: 100%;
  }
  .about__wrapper {
    grid-template-columns: 1fr;
  }
  .about__information {
    margin-top: 4rem;
  }
  .about__information h1,
  .about__information h2,
  .about__information p {
    text-align: center;
  }
  .about__information h1 {
    font-size: 3rem;
  }
  .about__information h2 {
    font-size: 5rem;
  }
  .about__information p {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .about__img--card {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    font-size: 10rem;
  }
  .about__information {
    text-align: center;
    width: 100%;
  }
}

/* SERVICES SECTION */
.services__section {
  /* width: 100%; */
  padding: 60px 0;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.services__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 7rem;
}
.services__title h1 {
  background-color: #ff8177;
  background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
.services__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  width: 300px;
  height: 400px;
  margin: 0 1rem;
  border-radius: 10px;
  color: #fff;
  padding: 2rem;
  cursor: pointer;
  transition: all 400ms ease;
}
.services__items:hover {
  transform: scale(1.075);
}
.services__items h2 {
  font-size: 3rem;
}
.services__items p {
  font-size: 1.8rem;
}
.services__items button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
}
.services__card--1 {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.services__card--2 {
  background: #50c9c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right top,
    #96deda,
    #50c9c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right top,
    #96deda,
    #50c9c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.services__card--3 {
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.services__card--4 {
  background: #403a3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right bottom,
    #be5869,
    #403a3e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right bottom,
    #be5869,
    #403a3e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media screen and (max-width: 1350px) {
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 5rem 2rem;
  }
  .services__items {
    margin: 0 auto;
    width: 450px;
  }
}
@media screen and (max-width: 1000px) {
  .services__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    gap: 5rem 2rem;
  }
  .services__items {
    margin: 0 auto;
    width: 370px;
  }
}
